@charset "utf-8";
.container {
  height: 350px;
  display: flex;
}
.box1 {
  background-color: #AEE0CD;
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  -webkit-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.box2 {
  flex: 1;
  background-color: #94CCDF;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}
.box3 {
  flex: 1;
  background-color: #C38CEB;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}
body h6 {
  text-align: center;
}
body h3 {
  text-align: center;
}
.box1:hover {
  background-color: #4BBA90;
  -webkit-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-box-shadow: 1px 1px 5px 2px #838383;
  box-shadow: 1px 1px 5px 2px #838383;
}
.box2:hover {
  background-color: #3BA1C4;
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-box-shadow: 1px 1px 5px 2px #8D8D8D;
  box-shadow: 1px 1px 5px 2px #8D8D8D;
}
.box3:hover {
  background-color: #902BDA;
  transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 5px 2px #3B3B3B;
  box-shadow: 1px 1px 5px 2px #3B3B3B;
}